:root {
  --accent-color: #2196f3;
  --primary-color: #757575;
  --secondary-color: #212121;
  --wite-color: #ffffff;
  --black-color: #000000;
  --sacondary-wite-color: rgba(255, 255, 255, 0.6);
  --background-color-wite: #ffffff;
  --sacondary-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --accent-background-color: #2196f3;
  --hover-background-color: #188ce8;
  --filter-background-color: #f5f4fa;
  --header-border: #ececec;
  --filter-item-border: #eeeeee;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  background-color: var(--background-color-wite);
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.btn {
  display: inline-block;
  border: none;
  text-align: center;
}

.list {
  list-style: none;
}

/* ----------------------Header------------------------- */

.header {
  border-bottom: 1px solid var(--header-border);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 93px;
}

.accent-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.header-logo {
  color: var(--black-color);
}

.navigation-list {
  display: flex;
  gap: 50px;
}

.navigation-item {
}

.navigation-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.navigation-link.current {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
  gap: 50px;
}

.contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.contacts-link:hover,
.navigation-link:hover,
.contacts-link:focus,
.navigation-link:focus {
  color: var(--accent-color);
}

/* -----------------------------------Hero------------------------------------- */

.hero {
  background-color: var(--sacondary-background-color);
  padding: 200px 0;
  text-align: center;
}

.hero-title {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--wite-color);
}

.hero-btn {
  border-radius: 4px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--wite-color);
  background-color: var(--accent-background-color);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-background-color);
}

/* ---------------------------------Переваги------------------------------- */

.advantages {
  padding: 94px 0;
}

.advantages-list {
  display: flex;
  gap: 30px;
}

.advantages-item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.advantages-text {
}

/* -----------------------------------Work------------------------------ */

.work {
  padding-bottom: 94px;
}

.work-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-color);
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-item {
  flex-basis: calc((100% - 60px) / 3);
}

/* ----------------------------------Team------------------------------ */

.team {
  padding: 94px 0;
  background-color: var(--team-background-color);
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-color);
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  flex-basis: calc((100% - 90px) / 4);
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-color-wite);
}

.team-img {
  margin-bottom: 30px;
}

.team-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* -----------------------------------Footer------------------------ */

.footer {
  padding: 60px 0;
  background-color: var(--sacondary-background-color);
}

.footer-accent-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.footer-logo {
  color: var(--wite-color);
}

.footer-address {
  font-style: normal;
}

.address-list {
}

.address-primary {
  color: var(--wite-color);
}

.address-secondary {
  color: var(--sacondary-wite-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-primary:hover,
.address-secondary:hover,
.address-primary:focus,
.address-secondary:focus {
  color: var(--accent-color);
}

/* ------------------------------------Portfolio------------------ */

.portfolio {
  padding: 94px 0;
}

.portfolio-filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-btn {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background-color: var(--filter-background-color);
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--wite-color);
  background-color: var(--accent-background-color);
}

.portfolio-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-img {
}

.portfolio-item-box {
  border: 1px solid var(--filter-item-border);
  border-top: 0;
  padding: 20px 24px;
}

.portfolio-subtitle {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-color);
}
